/* FONT */
@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/Inter-VariableFont_slnt,wght.tff');
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local(''), url('../fonts/Inter-VariableFont_slnt,wght.tff');
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/Inter-VariableFont_slnt,wght.tff');
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../fonts/Inter-VariableFont_slnt,wght.tff');
}

/* GENERELL */

:root {
  --blue: #29abe2;
  --white: #ffffff;
  --black: #2a3647;
  --light-grey: #f6f7f8;
  --grey: #a8a8a8;
  --very-light-grey: #e7e7e7;
  --very-dark-blue: #42526e;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: var(--light-grey);
}

html {
  scroll-behavior: smooth;
}

/* CONTENT */
/* BOARD HEADER */

#board-header {
  width: 1208px;
  height: 232px;
  position: relative;
  top: 96px;
  left: 22px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#search-btn-container {
  width: 555px;
  height: 48px;
  display: flex;
  gap: 32px;
}

#search-task {
  border-radius: 10px;
  width: 312px;
  height: 48px;
  border: 1px solid var(--grey);
  gap: 10px;
  font-size: 24px;
  margin-right: 24px;
  padding-left: 10px;
}

#search-right-container {
  display: flex;
  gap: 16px;
  position: absolute;
  top: 102px;
  right: 367px;
}

#vert-line {
  border-right: 1px solid #d1d1d1;
  height: 31px;
}

#search-icon {
  width: 32px;
  height: 32px;
}

#plus-icon {
  width: 18.67px;
  height: 18.67px;
  color: var(--white);
}

#add-task-btn {
  background-color: var(--black);
  color: var(--white);
  width: 160px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid var(--black);
  padding: 8px 16px 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  &:hover {
    background-color: var(--blue);
  }
}

/* BOARD */
/* column title */

#board-title {
  display: flex;
  position: relative;
  top: 50.5px;
  justify-content: space-between;
  padding: 0 64px 0 64px;
  width: 1208px;
  height: 24px;
}

.column-name {
  width: 224px;
  height: 24px;
  justify-content: space-between;
  display: flex;
}

.column-txt {
  width: 164px;
  height: 24px;
  color: var(--very-dark-blue);
  font-weight: 700;
  font-size: 20px;
}

.task-plus-btn {
  background-color: var(--light-grey);
  width: 27px;
  height: 27px;
  border-radius: 8px;
  border: 2px solid var(--black);
  gap: 10px;
  padding: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    border: 2px solid var(--blue);
  }
}

.task-plus-icon {
  width: 8px;
  height: 8px;
}

.edit-svg-btn {
  fill: var(--black);
}

.task-plus-btn:hover .edit-svg-btn {
  fill: var(--blue);
}

/* BOARD ITSELF */

.container-css {
  position: absolute;
}

#board-overview {
  background-color: var(--light-grey);
  position: relative;
  top: 86px;
  left: 60px;
  width: 1038px;
  height: 688px;
  display: flex;
  flex-direction: row;
  align-items: end;
}

.column-1 {
  width: 246px;
  height: 100%;
  /* margin: 24px; */
}

.column-2,
.column-3,
.column-4 {
  width: 252px;
  height: 100%;
  margin: 16px;
}

.column-2-3-4 {
  display: flex;
  padding-right: 16px;
  gap: 16px;
  position: relative;
  top: -370px;
}

/* CARDS */

.board-card {
  width: 252px;
  height: 263px;
  border-radius: 24px;
  padding: 16px;
  margin: 10px;
  background-color: var(--white);
}

.empty-task {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--very-light-grey);
  width: 224px;
  height: 48px;
  border-radius: 10px;
  border: 1px dotted var(--grey);
  gap: 10px;
}

#empty-task-txt {
  font-size: 16px;
  font-weight: 400;
  color: var(--grey);
  font-family: 'Open Sans', sans-serif;
}

/* CARD ITSELF/CONTENT */

.main-card {
  border: 1px green solid;
  width: 220px;
  height: 231px;
  border-radius: 24px;
  padding: 16px;
  gap: 24px;
  background-color: var(--white);
}
