/* FONT */
@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/Inter-VariableFont_slnt,wght.tff');
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local(''), url('../fonts/Inter-VariableFont_slnt,wght.tff');
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/Inter-VariableFont_slnt,wght.tff');
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../fonts/Inter-VariableFont_slnt,wght.tff');
}

/* GENERELL */

:root {
  --blue: #29abe2;
  --white: #ffffff;
  --black: #2a3647;
  --light-grey: #f6f7f8;
  --grey: #a8a8a8;
  --very-light-grey: #e7e7e7;
  --very-dark-blue: #42526e;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: var(--light-grey);
}

html {
  scroll-behavior: smooth;
}

/* CONTENT */
/* BOARD HEADER */

#board-header {
  width: 1148px;
  height: 232px;
  position: relative;
  top: 96px;
  left: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search-btn-container {
  width: 555px;
  height: 48px;
  display: flex;
  /* gap: 32px; */
}

#search-task {
  border-radius: 10px;
  width: 312px;
  height: 48px;
  border: 1px solid var(--grey);
  gap: 10px;
  font-size: 24px;
  margin-right: 24px;
  padding-left: 10px;
}

#search-right-container {
  display: flex;
  gap: 16px;
  position: relative;
  top: 11px;
  right: -313px;
}

#vert-line {
  border-right: 1px solid #d1d1d1;
  height: 31px;
}

#search-icon {
  width: 32px;
  height: 32px;
}

#plus-icon {
  width: 18.67px;
  height: 18.67px;
  color: var(--white);
}

#add-task-btn {
  background-color: var(--black);
  color: var(--white);
  width: 160px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid var(--black);
  padding: 8px 16px 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  &:hover {
    background-color: var(--blue);
  }
}

/* BOARD */
/* column title */

#board-title {
  display: flex;
  position: relative;
  top: 50.5px;
  justify-content: space-between;
  /* padding: 0 64px 0 64px; */
  width: 1208px;
  height: 24px;
}

.column-name {
  width: 253px;
  height: 24px;
  justify-content: space-between;
  display: flex;
}

.column-txt {
  width: 164px;
  height: 24px;
  color: var(--very-dark-blue);
  font-weight: 700;
  font-size: 20px;
}

.task-plus-btn {
  background-color: var(--light-grey);
  width: 27px;
  height: 27px;
  border-radius: 8px;
  border: 2px solid var(--black);
  gap: 10px;
  padding: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    border: 2px solid var(--blue);
  }
}

.task-plus-icon {
  width: 8px;
  height: 8px;
}

.edit-svg-btn {
  fill: var(--black);
}

.task-plus-btn:hover .edit-svg-btn {
  fill: var(--blue);
}

/* BOARD ITSELF */

.container-css {
  position: relative;
}

#board-overview {
  background-color: var(--light-grey);
  position: absolute;
  top: 326px;
  left: 60px;
  /* width: 1038px; */
  height: 688px;
  display: flex;
  flex-direction: row;
  /* align-items: end; */
}

.column-1 {
  width: 252px;
  height: 100%;
  /* margin: 24px; */
}

.column-2,
.column-3,
.column-4 {
  width: 252px;
  height: 100%;
  margin: 16px;
}

.column-2-3-4 {
  position: relative;
  display: flex;
  padding-right: 16px;
  gap: 16px;
  /* top: 196px; */
  top: -25px;
  height: 100%;
}

.col-1 {
  padding-left: 62px;
}

.col-2 {
  margin-left: -4px;
}

.col-3 {
  margin-left: -9px;
}

/* BOARD-CARDS */

.board-card {
  /* width: 252px; */
  height: 263px;
  border-radius: 24px;
  padding: 16px;
  margin: 10px;
  background-color: var(--white);
  cursor: pointer;
}

.empty-task {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--very-light-grey);
  width: 252px;
  height: 48px;
  border-radius: 10px;
  border: 1px dotted var(--grey);
  gap: 10px;
}

#empty-task-txt {
  font-size: 16px;
  font-weight: 400;
  color: var(--grey);
  font-family: 'Open Sans', sans-serif;
}

.small-card {
  height: 219px;
}

/* CARD ITSELF/CONTENT */

.main-card {
  /* width: 220px; */
  /* height: 231px; */
  border-radius: 24px;
  /* padding: 3px; */
  gap: 24px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 16px;
  font-weight: 700;
  color: var(--black);
  font-family: 'Inter', sans-serif;
}

.card-sub-title {
  font-size: 16px;
  font-weight: 400;
  color: var(--grey);
  font-family: 'Inter', sans-serif;
}

.progress-container {
  /* width: 245px; */
  /* height: 16px; */
  display: flex;
  align-items: center;
}


.card-progress-bar {
  display: flex;
  align-items: center;
  /* width: 180px; */
  height: 8px;
  top: 4px;
  border-radius: 8px;
  padding: 0 35px 0 0;
  /* gap: 10px; */
}

.card-footer {
  width: 220px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}

.profile-badge {
  width: 80px;
  height: 32px;
}

.profile-overlap {
  margin-left: -15px;
}

/* Design progress bar incl fill */

.progress-bar {

  /* width: 128px; */
  height: 8px;
  border-radius: 4px;
  background-color: #F4F4F4;
  /* position: relative; */
}

#done-bar-fill,
#progress-bar-fill {
  height: 8px;
  border-radius: 4px;
  background-color: #4589FF;
  position: absolute;
  top: 0;
  left: 0;
}

.bar-span {
  display: flex;
  gap: 2px;
}

/* OVERLAY CARD */

.ol-crud-edit-delete{
  cursor: pointer;
}

.ol-kochwelt {
  position: relative;
  top: -188px;
  margin-left: auto;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: color(srgb 0 0 0 / 0.5);
  backdrop-filter: blur(8px);
  /* z-index: 200; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  /* padding-top: 24px; */
}

.ol-close-btn {
  cursor: pointer;
  font-size: x-large;
}

.ol-board-card {
  width: 525px;
  height: 911px;
  border-radius: 30px;
  padding: 16px;
  margin: 10px;
  background-color: var(--white);
}

.ol-main-card {
  /* width: 220px; */
  /* height: 231px; */
  border-radius: 24px;
  padding: 3px;
  gap: 24px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.ol-card-header {
  width: 445px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 24px 0 24px; */
}

.ol-header-btn {
  width: 164px;
  height: 36px;
}

.ol-card-info {
  width: 445px;
  height: 219px;
}

.ol-card-sub {
  width: 445px;
  height: 24px;
}

.ol-card-title {
  font-size: 61px;
  font-weight: 700;
  color: var(--black);
  font-family: 'Inter', sans-serif;
}

.ol-card-sub-title {
  font-size: 20px;
  font-weight: 400;
  color: var(--black);
  font-family: 'Inter', sans-serif;
}

.ol-due-date {
  width: 445px;
  height: 24px;
  gap: 25px;
}

.ol-due-date-txt {
  font-size: 20px;
  font-weight: 400;
  color: var(--black);
  font-family: 'Inter', sans-serif;
  margin-left: 32px;
}

.ol-priority {
  width: 445px;
  height: 32px;
  gap: 25px;
}

.ol-priority-txt {
  font-size: 20px;
  font-weight: 400;
  color: var(--black);
  font-family: 'Inter', sans-serif;
  margin-left: 42px;
  margin-right: 8px;
}

.ol-priority-icon {
  width: 17px;
  height: 8px;
}

.ol-assigned-container {
  width: 445px;
  height: 208px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.ol-assigned-user {
  width: 445px;
  height: 176px;
  gap: 4px;
}

.ol-user {
  width: 445px;
  height: 56px;
  display: flex;
  gap: 16px;
  align-items: center;
  padding-left: 32px;
}

.ol-sub-tasks {
  width: 445px;
  height: 100px;
  gap: 8px;
}

.ol-sub-tasks-txt {
  font-size: 20px;
  font-weight: 400;
  color: var(--black);
  font-family: 'Inter', sans-serif;
}

.ol-sub-tasks-container {
  width: 445px;
  height: 68px;
  /* gap: 4px; */
  display: flex;
  flex-direction: column;
  margin-bottom: 76px;
}

.ol-sub-task {
  width: 344px;
  height: 32px;
  /* padding: 6px 16px 6px 16px; */
  gap: 16px;
}

.ol-sub-task-checkbox {
  width: 24px;
  height: 24px;
  border-radius: 5px;
}

.ol-crud {
  /* width: 159px; */
  height: 24px;
  gap: 8px;
  display: flex;
  justify-content: end;
}

.ol-vertical {
  height: 24px;
  border-left: 1px solid var(--borderColor);
}