html{ overflow: hidden;}

.contacts-container{
    display: flex;
    margin: 64px 64px 0 0;
}

.contacts-content-left{
    width: 30%;
    background-color: white;
    padding: 24px;
    height: 100vh;
}

.contacts-content-right{
    margin: 64px;
}

.contacts-title-container{
    display: flex;
    align-items: center;
}

.contact-slogan{
    margin-left: 24px;
    padding-left:24px;
    border-left: 2px solid var(--secondaryColor);
    height: 40px;
    display: flex;
    align-items: center;
}

.full-with{
    width: 100%;
}


/* #region sorted contact view ---------------------*/ 
.deatailed-contact-container{
    display: block;
}

.contact-preview{
    display: flex;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
    margin-top: 14px;
}

.contact-preview:hover{
    background-color: var(--mainColorHover);
    color: white;
}

.aphabetical-indicator{
    border-bottom: 2px solid var(--borderColor);
    padding: 0 34px;
    font-weight: normal;
    font-size: 2rem;
}

.sorted-contact-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 100%;
    background-color: orange;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin-right: 24px;
}

.contac-name-preview{font-size: 1.5rem;}

.alphabetic-sorting-container{
    margin-top: 14px;
    max-height: 80%;
    overflow-y: scroll;
    padding-right: 14px;
}

.alphabetic-sorting-container::-webkit-scrollbar {
    width: 4px;
}

.alphabetic-sorting-container::-webkit-scrollbar-thumb {
    background-color: var(--borderColor);
    border-radius: 10px;
}

/* #endregion sorted contact view*/


/* #region detailed contact view ---------------------*/ 
.deatailed-contact-container{
    display: block;
}

.flex-center{
    display: flex;
    align-items: center;
}

.flex-center img{margin-right: 8px;}
.flex-center p{margin-right: 24px;}

.edit-links{cursor: pointer;}
.edit-links:hover{
    color: var(--secondaryColor);
    fill: var(--secondaryColor);
}

.deatailed-contact-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 100%;
    background-color: orange;
    width: 80px;
    height: 80px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-right: 64px;
}

.contact-suptitle{padding-top: 24px;}
/* #endregion detailed contact view*/
