:root {
    --mainColor: #2A3647;
    --mainColorHover: #4f6481;
    --mainColorSelect: #091931;

    --secondaryColor: #29ABE2;

    --bgColor: #F6F7F8;
    --borderColor: #D1D1D1;

    --white: #ffffff;
    --black: #000000;
}

body{
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bgColor);
}

h1{
    font-weight: normal;
    font-size: 1.4rem;
}

h2{
    font-weight: bold;
    font-size: 3rem;
}

h3{
    font-weight: bold;
    font-size: 1.8rem;
}

h4{
    font-weight: bold;
    font-size: 1.5rem;
}

.main-content-container{
    width: 100%;
    display: flex;
    justify-content: left;
}

.left-content-container{
    width: 15%;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
}

.right-content-container{
    width: 85%;
    margin-left: 15%;
}


/* #region global buttons ------------------------*/ 
.primary-button {
    border: 0;
    background-color: var(--mainColor);
    color: white;
    border-radius: 8px;
    padding: 12px 21px 12px 21px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

}

.secondary-button {
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
    background-color: white;
    border-radius: 8px;
    padding: 12px 21px 12px 21px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
/* #endregion global buttons*/


/* #region sub pages text content ------------------*/   
.text-container{
    padding: 120px 64px;
}

.listed-text-container{
    display: flex;
    align-items: start;
}

.number-container{
    text-align: left;
}

.number-container h3{
    padding-right: 64px;
}

.text-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* #endregion sub pages text content*/


/* #region nav bar --------------------------------*/   
.nav-bar-container{
    height: 100vh;
    background-color: var(--mainColor);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-logo{
    padding: 120px 0 120px 0;
}

.nav-link{
    all: unset;
    color: inherit;
    width: 100%;
}

.menu-entry{
    display: flex;
    justify-content: left;
    cursor: pointer;
    background-color: var(--mainColor);
    width: 100%;
    padding: 24px 0;
}

.menu-entry:hover{
    opacity: 100%;
    background-color: var(--mainColorHover);
}

.menu-entry img{
    padding-left: 25%;
    padding-right: 12px;
}

.summary{
    background-color: var(--mainColor);
    color: white;
    opacity: 50%;
}

.add-task{
    background-color: var(--mainColor);
    color: white;
    opacity: 50%;
}

.board{
    background-color: var(--mainColor);
    color: white;
    opacity: 50%;
}

.contacts{
    background-color: var(--mainColor);
    color: white;
    opacity: 50%;
}

.legal-links-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 120px 0;

}

.legal-links-container a{
    color: white;
    opacity: 50%;
    text-decoration: none;
    padding: 12px 0;
}

.legal-links-container a:hover{opacity: 100%;}
/* #endregion nav*/


/* #region status-bar ------------------------------*/
.status-bar-container{
    background-color: white;
    box-shadow: 0 6px 4px #0000001e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    position: fixed;
    width: 80%;
}

.profile-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
}

.provile-icon{
    font-weight: bold;
    border: 2px solid var(--mainColor);
    border-radius: 100%;
    padding: 8px;
}
/* #endregion status-bar*/


