/* GENERAL */
@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/Inter-VariableFont_slnt,wght.tff');
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local(''), url('../fonts/Inter-VariableFont_slnt,wght.tff');
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/Inter-VariableFont_slnt,wght.tff');
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../fonts/Inter-VariableFont_slnt,wght.tff');
}

:root {
  --blue: #29abe2;
  --white: #ffffff;
  --black: #2a3647;
  --light-grey: #f6f7f8;
  --urgent-orange: #ff3d00;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: var(--light-grey);
}

html {
  scroll-behavior: smooth;
}

/* FONT */
h1 {
  font-size: 61px;
  font-weight: 700;
}

h3,
h4 {
  color: var(--black);
}

h3 {
  font-size: 27px;
  font-weight: 400;
}

h4 {
  font-size: 47px;
  font-weight: 500;
}

p {
  padding: 0;
  margin: 0;
}

.font-date {
  font-size: 21px;
  font-weight: 700;
}

/* LINES */
#vert-line {
  border-right: 3px solid var(--blue);
  height: 59px;
}

#overview-line-ctr {
  display: flex;
  gap: 30px;
}

#overview-urgent-vertical {
  border-right: 2px solid var(--light-grey);
  height: 102.02px;
}

/* COLOR */
.tile-color {
  background-color: var(--white);
}

/* ICONS */
.icon {
  width: 69px;
  height: 69px;
  object-fit: contain;
}

/* HEADER */
#header {
  width: 80%;
  height: 8%;
  position: absolute;
  top: 0;
  right: 74px;
}

/* SIDEBAR */
#sidebar {
  height: 100vh;
  width: 15%;
}

/* MAIN */
#greeting-container {
  width: 385px;
  height: 136px;
  position: absolute;
  top: 347.5px;
  gap: 3px;
  /* right: 90px; */
  left: 730px;
}

#dashboard {
  display: flex;
}

#content {
  display: flex;
  position: absolute;
  top: 8%;
  left: 15.1%;
  width: 79.7%;
  height: 92vh;
}

#title {
  display: flex;
  justify-content: center;
  width: 70%;
  padding-top: 42px;
  align-items: center;
  height: 73.2px;
  gap: 30px;
}

/* LOGIN OVERVIEW - DASHBOARD/SUMMARY */
#login-overview {
  position: absolute;
  top: 215px;
  left: 88px;
  width: 560px;
  /* height: 562px; */
}

/* USER GREETING */
#user-name {
  color: var(--blue);
  font-weight: 700;
  font-size: 64px;
  margin-left: -202px;
}

.urgent-txt-gap {
  margin-top: -30px;
}

/* TILES OVERVIEW */
.tile-row,
.third-row {
  width: 264px;
  height: 88px;
}

.tile-details {
  gap: 18px;
  padding: 38px 19px;
  border-radius: 22px;
  box-shadow: 0 0 4px 0 #0000001a;
  margin-bottom: 25px;
  cursor: pointer;
}

/* HOVER OF BOARD ICONS */

.tile-row:hover,
.third-row:hover,
#urgent-container:hover {
  background-color: var(--black);
  color: var(--white);

  .icon {
    fill: var(--white);
    stroke: var(--black);
  }

  .icon-pen {
    fill: var(--black);
  }

  .icon-check {
    stroke: var(--black);
  }
}

/* MID/URGENT ROW*/

#urgent-container {
  width: 524px;
  height: 68px;
  gap: 75px;
  transition: all ease-in 225ms;
}

#urgent-left-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

#urgent-subline,
#overview-urgent-txt {
  font-weight: 400;
  font-size: 16px;
}

.urgent-gap {
  gap: 10px;
}

.icon-urgent {
  width: 60px;
  height: 60px;
  background-color: var(--urgent-orange);
  border-radius: 50%;
}

.icon-urgent:hover {
  fill: var(--urgent-orange);
}

.icon-tile-details {
  display: flex;
  justify-content: center;
  gap: 36px;
  align-items: center;
}

.font-tiles {
  font-weight: 600;
  font-size: 64px;
}

.flex-column {
  flex-direction: column;
  text-align: center;
}

.title-third-row {
  font-size: 20px;
  font-weight: 400;
}