
        <div class="nav-bar-container">
            <a href="summary.html">
            <img class="join-logo" src="../img/join_logo_white.svg" alt="Join Logo"></a>

            <a href="summary.html" class="nav-link" id="summary-link">
            <div id="summary" class="menu-entry summary">
                <img src="../img/summary_icon.svg" alt="Summary Icon">
                Summary
            </div></a>
            
            <a href="add-task.html" class="nav-link">
            <div id="add-task" class="menu-entry add-task">
                <img src="../img/add_task_icon.svg" alt="Summary Icon">
                Add Task
            </div></a>

            <a href="board.html" class="nav-link">
            <div id="board" class="menu-entry board">
                <img src="../img/board_icon.svg" alt="Summary Icon">
                Board
            </div></a>

            <a href="contacts.html" class="nav-link">
            <div id="contacts" class="menu-entry contacts">
                <img src="../img/contacts_icon.svg" alt="Summary Icon">
                Contacts
            </div></a>

            <div class="legal-links-container">
                <a href="privacy.html">Privacy Policy</a>
                <a href="legal.html">Legal Notice</a>
            </div>
        </div>




