        <div class="status-bar-container">
            <h1>Kanban Project mangement Tool</h1>

            <!-- logo : only visible in mobile view -->
            <a href="summary.html">
            <img class="join-logo-status-bar" src="../img/join_logo_dark.svg" alt="Join Logo"></a>

            <div class="profile-container">
                <a href="help.html"><img src="../img/help_icon.svg" alt="Help Icon" class="help-icon"></a>
                <div id="provile-icon" class="provile-icon">PK</div>
            </div>
        </div>


