/* @media (max-width: 1200px){
    .board-header-container{
        width: 80%;
    }

    .board-main-container {
        padding-left: 22px;
        width: 95%;
    }

    .board-section {
        min-width: unset;
    }

    .board-card-description {
        height: 80px;
        overflow: auto;
    }

    .board-contacts {
        width: 133px;
        height: 45px;
        overflow: scroll;
    } 
} */


@media (max-width: 950px){
    .input-desktop{
        display: none;
    }

    .input-mobile{
        display: unset;
        width: 83%;
        padding-right: 0;
        margin-bottom: 64px;
    }

    .add-task-mobile{
        display: unset;
        height: 50px;
    }

    .add-task-desktop{display: none;}

    .mobile-header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85%;
    }
    
    .board-header-container{
        flex-direction: column;
        width: 100%;
        padding-left: 0;
        top: 100px;
    }

    .board-main-container{
        width: 100%;
        margin: 0 70px 0 70px;
    }
}


@media screen and (max-width: 800px) {
    .board-main-container {
        padding-left: 11px;
        width: 97%;
    }
}


/* @media screen and (max-width: 700px) {
    .board-main-container {
        flex-direction: column;
        display: flex;
        margin-top: 50%;
    }

    .board-section {
        width: 100%;
    }

} */
