@media (max-width: 1200px) {
  .ol-board-card {
    width: 90%;
    height: 80vh;
    margin: 0 auto;
  }
}


@media (max-width: 800px) {
  .ol-board-card {
    width: 80%;
    height: 80vh;
    margin: 0 auto;
  }

  .ol-main-card {
    margin-left: 86px;
  }
}


@media (max-width: 600px) {
  .ol-board-card {
    width: 90%;
    height: 80vh;
    margin: 0 auto;
  }
}


@media (max-width: 400px) {
  .ol-board-card {
    width: 90%;
    height: 80vh;
    margin: 0 auto;
  }

  .ol-card-header {
    width: 325px;
  }

  .ol-card-title {
    font-size: 51px;
  }

  .ol-card-sub-title {
    width: 340px;
  }

  .ol-due-date {
    margin-top: 106px;
  }

  .ol-priority {
    margin-top: 16px;
  }

  .ol-crud {
    margin-left: -128px;
  }

  .ol-sub-task {
    width: 342px;
  }

  .ol-sub-tasks-container {width: 335px;}
}

@media screen and (max-width: 320px) {
  .ol-main-card {
    margin-left: -3px;
  }

  .ol-card-header {
    width: 281px;
  }

  .ol-card-title {
    font-size: 31px;
    word-wrap: break-word;
    word-break: break-all;
    width: 49%;
  }

  .ol-card-sub-title {
    width: 290px;
    margin-top: 16px;
  }

  .ol-due-date {
    margin-top: 136px;
  }

  .ol-sub-task {
    width: 292px;
  }

  .ol-crud {
    margin-left: -178px;
  }
}