@media (max-width: 1200px){
    .main-content-container{
      flex-direction: column-reverse;
      /* background-color: tomato; */
    }

    .left-content-container{
        position: sticky;
        bottom: 0;
        width: 100%;
    }

    .right-content-container{
        margin: 0;
        /* width: 100vw; */
        padding: 0;
    }
    
    .contacts-container{
        margin: 0;
    }

    .contacts-content-left{
        width: 100%;
        padding: 0;
        margin: 64px 0 0 0;
        padding: 14px;
        background-color: var(--white);
    }
}


@media (max-width: 800px){
    .contacts-content-right{
      display: none;
    }

    .contacts-content-left{
        padding: 0;
    }

    .right-content-container{
        margin: 0;
        padding: 0;
        width: 100%
    }
    
    .contacts-container{
        margin: 0;
        display: block;
        padding: 14px;

    }
}