@media (max-width: 1200px){
    .contacts-container{
        margin: 0;
    }

    .contacts-content-left{
        width: 100%;
        padding: 0;
        margin: 64px 0 0 0;
        padding: 14px;
        background-color: var(--white);
    }
}


@media (max-width: 800px){
    .contacts-content-right{
      display: none;
    }

    .contacts-content-left{
        padding: 0;
    }
    
    .contacts-container{
        margin: 0;
        display: block;
        padding: 14px;
    }
}