@media (max-width: 1200px){
    .status-bar-container{
        padding: 0;
        margin: 0;
    }

    .status-bar-container{
        background-color: white;
        box-shadow: 0 6px 4px #0000001e;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 64px;
        z-index: 100;
        padding: 0;
        margin: 0;
    }

    .status-bar-container h1{
        display: none;
    }

    .status-bar-container img{
        display: block;
        padding-left: 24px;
    }

    .profile-container{
        padding-right: 24px;
    }
}