@media (max-width: 1200px){
    .nav-bar-container{
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        z-index: 500;
    }

    .join-logo{display: none;}

    .nav-link{
        width: 200px;
        display: flex;
        justify-content: center;
    }

    .menu-entry{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80px;
        height: 30px;
        font-size: 0.8rem;
        border-radius: 0px;
    }

    .menu-entry img{
        padding: 0 0 8px 0;
        width: 20px;
        height: auto;
    }

    .legal-links-container{display: none;}
}


@media (max-width: 600px){
    .menu-entry{border-radius: 0px;}
}